# Sistemas de Recomendação

Essa prática irá apresentar passo a passo a implementação de um sistema de recomendação baseado em filtros colaborativos, onde será gerada a matriz de ratings, e serão calculadas as similaridades entre os usuários.

Para iniciar vamos importar a biblioteca pandas, do Python, que possui estruturas de dados muito úteis para manipular as informações.

Teremos duas bases de dados básicas: 

- Dados de ratings so sistema MovieLenz, que possui ratings observados para filmes. O arquivo referente a esses dados é o ratings.csv.

- Dados dos filmes, para que possamos obter os nomes dos filmes recomendados e ter uma noção do que foi recomendado com o nosso sistema de recomendação.

As próximas célular do nosso notebook fazem a leitura desses arquivos e imprimem o ínicio deles após serem estruturados em um pandas dataframe. Execute essas quatro células e veja como os dados estão estruturados.

Para executar uma célula do nosso notebook, basta utilizar o atalho shift+enter.

In [1]:
import pandas as pd
dataFile='ratings.csv'
data=pd.read_csv(dataFile,sep=",",header=0,names=["userId","movieId","rating","timestamp"])

In [3]:
data.head()

   userId  movieId  rating   timestamp
0       1       31     2.5  1260759144
1       1     1029     3.0  1260759179
2       1     1061     3.0  1260759182
3       1     1129     2.0  1260759185
4       1     1172     4.0  1260759205

In [4]:
movieFile='movies.csv'
movies=pd.read_csv(movieFile,sep=",",header=0,names=["movieId","title","genres"])

In [5]:
movies.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

Agora que temos os dados carregados no formato visto acima, vamos criar um método bem simples, que irá receber como parâmetro o ID de um filme e irá retornar o seu título e os gêneros associados a ele.

Nas duas células em branco faça a mesma chamada feita para o filme 2, na célula abaixo, porém para o filme 5 e o 6, apenas para critério de teste.

In [6]:
#definição de um método para obter o título e os gêneros associados e um filme.
#veja que o nosso dataframe "movies" definido acima, é utilizado para a consulta, baseado no ID do filme
def movieMeta(movieId):
    title = movies.at[movieId,"title"]
    genre = movies.at[movieId,"genres"]
    return title, genre

#Exemplo de chamada do método que retorna os dados do filmes
movieMeta(2)

('Grumpier Old Men (1995)', 'Comedy|Romance')

In [6]:
#Faça aqui a chamada do método "movieMeta" passando o filme 5 como parâmetro

In [7]:
movieMeta(5)

('Heat (1995)', 'Action|Crime|Thriller')

In [8]:
#Faça aqui a chamada do método "movieMeta" passando o filme 9 como parâmetro

In [8]:
movieMeta(9)

('GoldenEye (1995)', 'Action|Adventure|Thriller')

In [9]:
#código que obtem os ids dos filmes existentes no nosso dataframe movies.
data = data[data["movieId"].isin(movies.index)]

Agora que temos uma função que retorna os dados básicos do filme, para vermos o que foi recomendado, precisamos criar uma para retornar os filmes favoritos de um usuário.

Para isso:
- Recuperamos a lista de filmes de um usuário.
- Ordenamos de forma decrescente com base nos ratings do usuário.
- Pegamos os N primeiros itens dessa lista ordenada.

Toda essa implementação esta presente no método "faveMovies" abaixo. Ele recebe como parâmetro o ID do usuário e retorna os N itens mais relevantes para ele, com base no rating observado. Esse método será utilizado mais adiante para encontrarmos os vizinhos mais próximos desse usuário, com base no ratings similares aos seus ratings observados.

In [10]:
#método que retorna os N filmes com maior rating para um determinado usuário.
def faveMovies(user,N):
    #userRatings recebe a lista de ratings do usuário passado como parâmetro
    userRatings = data[data["userId"]==user]
    #SortedRatings recebe os N primeiros itens dessa lista ordenada de forma decrescente
    sortedRatings = pd.DataFrame.sort_values(userRatings,['rating'],ascending=[0])[:N]
    #o método movieMeta é aplicado nos N itens mais relevantes, para que a coluna title
    #seja criada no nosso dataframe sortedRatings, para que possamos visualizar.
    sortedRatings["title"] = sortedRatings["movieId"].apply(movieMeta)
    return sortedRatings

Uma vez definida a função que pega os N filmes mais relevantes, vamos fazer um teste com os 10 filmes mais relevantes para o usuário 1. Faça a chamada desse método nas duas células vazias abaixo, para o usuário 2 e o 3, respectivamente.

In [58]:
faveMovies(1,60)

,userId,movieId,rating,timestamp,title
4,1,1172,4.0,1260759205,"(Gridlock'd (1997), Crime)"
13,1,2105,4.0,1260759139,"(Besieged (a.k.a. L' Assedio) (1998), Drama)"
12,1,1953,4.0,1260759191,"(At First Sight (1999), Drama)"
8,1,1339,3.5,1260759125,"(Red Corner (1997), Crime|Thriller)"
19,1,3671,3.0,1260759117,"(War of the Roses, The (1989), Comedy|Drama)"
1,1,1029,3.0,1260759179,"(Highlander (1986), Action|Adventure|Fantasy)"
2,1,1061,3.0,1260759182,"(Hype! (1996), Documentary)"
14,1,2150,3.0,1260759194,"(General's Daughter, The (1999), Crime|Drama|M..."
17,1,2455,2.5,1260759113,"(Pokémon: The First Movie (1998), Adventure|An..."
0,1,31,2.5,1260759144,"(Twelve Monkeys (a.k.a. 12 Monkeys) (1995), My..."
10,1,1371,2.5,1260759135,"(3 Ninjas: High Noon On Mega Mountain (1998), ..."
9,1,1343,2.0,1260759131,"(Alien: Resurrection (1997), Action|Horror|Sci..."
7,1,1293,2.0,1260759148,"(Thousand Acres, A (1997), Drama)"
6,1,1287,2.0,1260759187,"(Peacemaker, The (1997), Action|Thriller|War)"
5,1,1263,2.0,1260759151,"(Spawn (1997), Action|Adventure|Sci-Fi|Thriller)"
15,1,2193,2.0,1260759198,"(Brighton Beach Memoirs (1986), Comedy)"
16,1,2294,2.0,1260759108,"(Splendor (1999), Comedy)"
3,1,1129,2.0,1260759185,"(Mars Attacks! (1996), Action|Comedy|Sci-Fi)"
11,1,1405,1.0,1260759203,"(Newton Boys, The (1998), Crime|Drama)"
18,1,2968,1.0,1260759200,"(Burglar (1987), Comedy|Crime)"

In [12]:
#Faça a chamada do método faveMovies para o usuário 2, com 15 filmes como parâmetro.

In [13]:
faveMovies(2,15)

,userId,movieId,rating,timestamp,title
83,2,551,5.0,835355767,"(Carried Away (1996), Drama|Romance)"
22,2,39,5.0,835355604,"(Richard III (1995), Drama|War)"
45,2,266,5.0,835355586,"(Pulp Fiction (1994), Comedy|Crime|Drama|Thril..."
91,2,592,5.0,835355395,"(Delta of Venus (1995), Drama)"
90,2,590,5.0,835355395,"(Butterfly Kiss (1995), Drama|Thriller)"
89,2,589,5.0,835355697,"(True Crime (1996), Mystery|Thriller)"
85,2,585,5.0,835355817,"(Promise, The (Versprechen, Das) (1995), Drama..."
37,2,222,5.0,835355840,"(Heavyweights (Heavy Weights) (1995), Children..."
29,2,150,5.0,835355395,"(Jeffrey (1995), Comedy|Drama)"
44,2,265,5.0,835355697,"(Pyromaniac's Love Story, A (1995), Comedy|Rom..."
21,2,17,5.0,835355681,"(Four Rooms (1995), Comedy)"
56,2,350,4.0,835355697,"(Boys Life (1995), Drama)"
68,2,454,4.0,835355604,"(Philadelphia (1993), Drama)"
20,2,10,4.0,835355493,"(American President, The (1995), Comedy|Drama|..."
55,2,349,4.0,835355441,"(Low Down Dirty Shame, A (1994), Action|Comedy)"

In [15]:
#Faça a chamada do método faveMovies para o usuário 3, com 8 filmes como parâmetro.

In [14]:
faveMovies(3,8)

,userId,movieId,rating,timestamp,title
133,3,3949,5.0,1298863174,"(Sandlot, The (1993), Children|Comedy|Drama)"
113,3,1197,5.0,1298932770,"(Crash (1996), Drama|Thriller)"
130,3,2959,5.0,1298862874,"(Bird on a Wire (1990), Action|Comedy|Romance)"
101,3,318,5.0,1298862121,"(Crow, The (1994), Action|Crime|Fantasy|Thriller)"
103,3,356,5.0,1298862167,"(Mirage (1995), Action|Thriller)"
119,3,1721,4.5,1298923236,"(Return to Paradise (1998), Crime|Drama|Romanc..."
100,3,296,4.5,1298862418,"(Tom & Viv (1994), Drama)"
111,3,778,4.0,1298863157,"(Angel on My Shoulder (1946), Crime|Drama)"

In [15]:
#verificar as dimensões do nosso dataframe contendo os ratings.
#ao executar essa célula, veja que temos cerca de 80000 linhas e 4 colunas (userId, movieId, rating, timestamp)
data.shape

(84739, 4)

In [16]:
#userPerMOVIE recebe quantos usuários viram cada filme.
usersPerMOVIE = data.movieId.value_counts()
usersPerMOVIE.head(10)

356     341
296     324
318     311
593     304
260     291
480     274
2571    259
1       247
527     244
589     237
Name: movieId, dtype: int64

In [17]:
#ao verificar a dimensão do resultado de usersPerMOVIE, vemos que cerca de 5642 filmes foram vistos por
#pelo menos um usuário.
usersPerMOVIE.shape

(5642,)

In [18]:
#fazemos o mesmo para verificar quantos usuários viram um certo filme
MOVIESsPerUser = data.userId.value_counts()
MOVIESsPerUser.head()

564    1868
547    1627
452    1308
15     1166
468    1022
Name: userId, dtype: int64

In [19]:
MOVIESsPerUser.shape

(671,)

Agora vamos obter com a célula abaixo os filmes vistos por mais de 10 usuários e na próxima os usuários que viram mais de 10 filmes, como uma forma de redução simples de dimensionalidade.

In [20]:
data = data[data["movieId"].isin(usersPerMOVIE[usersPerMOVIE>10].index)]

In [21]:
data = data[data["userId"].isin(MOVIESsPerUser[MOVIESsPerUser>10].index)]

Feito isso, vamos utilizar o método pivot_table do pandas dataframe, para gerar nossa matriz de ratings, onde os valores serão os ratings, os índices, ou linhas, serão os usuários e as colunas o ID dos filmes, com base nos nossos dados de ratings, lidos do arquivo rating.csv no começo do notebook.

Percebam que essa matriz possui diversos valores NaN, que seriam os nulos, onde não existem ratings observados, conforme visto nas aulas teóricas.

In [22]:
userItemRatingMatrix=pd.pivot_table(data, values='rating',
                                    index=['userId'], columns=['movieId'])

In [23]:
userItemRatingMatrix.head()

movieId,1,2,3,4,5,6,7,9,10,11,...,8957,8958,8961,8966,8970,8972,8981,8983,8984,8985
userId,,,,,,,,,,,,,,,,,,,,,
1,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
5,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [24]:
userItemRatingMatrix.shape

(666, 1759)

Agora vamos definir dois usuários para obter os ratings observados deles, conforme as 3 células abaixo.

Percebam que o usuário 1 utilizado como exemplo para exibir os 100 primeiros ratings, possui diversos valores nulos, e apenas alguns com ratings observados.

In [30]:
user1 = 1
user2 = 20

In [31]:
user1Ratings = userItemRatingMatrix.transpose()[user1]
user1Ratings.head(100)

movieId
1      NaN
2      NaN
3      NaN
4      NaN
5      NaN
6      NaN
7      NaN
9      NaN
10     NaN
11     NaN
12     NaN
14     NaN
15     NaN
16     NaN
17     NaN
18     NaN
19     NaN
20     NaN
21     NaN
22     NaN
23     NaN
24     NaN
25     NaN
28     NaN
29     NaN
31     2.5
32     NaN
34     NaN
35     NaN
36     NaN
      ...
125    NaN
135    NaN
140    NaN
141    NaN
144    NaN
145    NaN
147    NaN
150    NaN
151    NaN
153    NaN
154    NaN
156    NaN
158    NaN
160    NaN
161    NaN
162    NaN
163    NaN
164    NaN
165    NaN
168    NaN
170    NaN
172    NaN
173    NaN
175    NaN
176    NaN
177    NaN
180    NaN
181    NaN
185    NaN
186    NaN
Name: 1, Length: 100, dtype: float64

In [32]:
user2Ratings = userItemRatingMatrix.transpose()[user2]

Agora precisamos definir uma forma de similaridade entre os usuários ou produtos. Iremos trabalhar apenas com os usuários.

Para isso foi utilizada a distância de hamming, existente na biblioteca scipy.

Poderia ser utilizado também a correlação de Perason ou de cossenos, existentes nessa biblioteca, porém foi selecionada a distância de hamming para apresentar outra forma de cálculo de similaridade, baseada na distância entre os usuários.

No caso abaixo ela é calculada entre o usuario1 e usuario2, definidos anteriormente.

Feito isso vamos criar o método "distance" que irá fazer esse cálculo para quaiquer dois usuários passados como parâmetro.

In [33]:
from scipy.spatial.distance import hamming 
hamming(user1Ratings,user2Ratings)

1.0

In [34]:
#método para calcular a métrica de correlação, baseada em distância, entre dois usuários.
#os parâmetros de entrada são os dois usuários.
import numpy as np
def distance(user1,user2):
        try:
            #recupera os ratings dos dois usuários e depois é aplicado o método hamming, para calcular
            #a distância, que será retornada.
            user1Ratings = userItemRatingMatrix.transpose()[user1]
            user2Ratings = userItemRatingMatrix.transpose()[user2]
            distance = hamming(user1Ratings,user2Ratings)
        except: 
            distance = np.NaN
        return distance

Veja abaixo o exemplo para calcular a distância entre o usuário 6 e o 5, e faça o mesmo para o usuário 2 em relação ao 3 e para o usuário 1 em relação ao 2.

In [35]:
distance(6,5)

0.9994314951677089

In [33]:
#faça o cálculo da similaridade entre 2 e 3

In [36]:
distance(2,3)

0.9982944855031268

In [35]:
#faça o cálculo da similaridade entre 6 e 0

In [37]:
distance(6,1)

1.0

In [38]:
#agora iremos filtrar o usuário 6 e calcular a distância entre ele e todos os demais usuários
#perceba que foram selecionados todos os ratings de todos os usuários diferentes de 6
user = 6
allUsers = pd.DataFrame(userItemRatingMatrix.index)
allUsers = allUsers[allUsers.userId!=user]
allUsers.head(10)

    userId
0        1
1        2
2        3
3        4
4        5
6        7
7        8
8        9
9       10
10      11

In [39]:
#as distâncias são então calculadas aplicando a função de distância para todos os usuários em relação ao
#usuário 6
#Isso é feito com a expressão lambda, que ira pegar a lista de todos os userId do nosso dataframe allusers
#e aplicar a função distance em relação ao nosso usuário 6.
#tudo isso com uma simples linha de código.
allUsers["distance"] = allUsers["userId"].apply(lambda x: distance(user,x))

In [40]:
allUsers.head()

   userId  distance
0       1  1.000000
1       2  1.000000
2       3  1.000000
3       4  1.000000
4       5  0.999431

Agora podemos selecionar os K vizinhos mais próximos ordenando esse resultado das distâncias e pegando os K primeiros usuários resultantes dessa ordenação.

In [41]:
K = 10
KnearestUsers = allUsers.sort_values(["distance"],ascending=True)["userId"][:K]

In [42]:
KnearestUsers

72      73
465    468
252    253
118    119
29      30
104    105
649    654
544    547
558    561
200    201
Name: userId, dtype: int64

Agora vamos criar um método que aplica essa seleção dos usuários diferentes do que desejamos fazer as recomendações, cálcula as similaridades e ordena o resultado, retornando apenas os mais próximos.

Esse método é o apresentado abaixo, chamado de nearestNeighbors, que recebe como parâmetro o usuário e o número de vizinhos.

In [43]:
def nearestNeighbors(user,K=10):
    allUsers = pd.DataFrame(userItemRatingMatrix.index)
    allUsers = allUsers[allUsers.userId!=user]
    allUsers["distance"] = allUsers["userId"].apply(lambda x: distance(user,x))
    KnearestUsers = allUsers.sort_values(["distance"],ascending=True)["userId"][:K]
    return KnearestUsers

In [44]:
KnearestUsers = nearestNeighbors(user)

In [45]:
KnearestUsers

72      73
465    468
252    253
118    119
29      30
104    105
649    654
544    547
558    561
200    201
Name: userId, dtype: int64

In [46]:
#vamos então com o código abaixo, filtrar a matriz de ratings, apenas com os usuários correspondentes
#aos vizinhos mais próximos.
NNRatings = userItemRatingMatrix[userItemRatingMatrix.index.isin(KnearestUsers)]
NNRatings

movieId,1,2,3,4,5,6,7,9,10,11,...,8957,8958,8961,8966,8970,8972,8981,8983,8984,8985
userId,,,,,,,,,,,,,,,,,,,,,
30,4.0,2.0,NaN,NaN,NaN,4.0,NaN,NaN,NaN,4.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
73,5.0,2.5,NaN,NaN,NaN,4.5,NaN,NaN,3.0,NaN,...,4.0,NaN,3.0,NaN,NaN,3.0,NaN,NaN,2.5,NaN
105,NaN,NaN,NaN,NaN,NaN,3.0,NaN,NaN,3.5,3.5,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
119,2.0,3.0,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
201,5.0,NaN,NaN,NaN,NaN,5.0,NaN,NaN,NaN,NaN,...,NaN,5.0,5.0,NaN,4.0,NaN,NaN,NaN,NaN,NaN
253,4.5,4.0,NaN,NaN,NaN,NaN,NaN,NaN,4.0,NaN,...,NaN,NaN,4.0,NaN,NaN,NaN,NaN,NaN,NaN,NaN
468,4.0,2.0,2.5,NaN,NaN,3.5,NaN,NaN,3.0,2.0,...,NaN,3.0,3.5,NaN,3.0,NaN,3.0,NaN,NaN,NaN
547,3.5,NaN,NaN,NaN,NaN,2.5,2.0,NaN,NaN,3.0,...,NaN,4.5,NaN,4.0,3.5,NaN,4.0,NaN,2.5,NaN
561,3.0,3.0,NaN,NaN,NaN,NaN,NaN,NaN,3.5,NaN,...,NaN,NaN,4.5,NaN,NaN,4.0,NaN,NaN,4.0,NaN
654,5.0,3.0,NaN,NaN,4.0,NaN,NaN,NaN,4.0,4.5,...,NaN,4.5,5.0,NaN,4.5,NaN,NaN,NaN,NaN,NaN

Cálculamos então e média dos ratings dos vizinhos mais próximos, para determinar os ratings não observados para o usuário que desejamos.

In [47]:
avgRating = NNRatings.apply(np.nanmean).dropna()
avgRating.head()

C:\Anaconda3\lib\site-packages\pandas\core\apply.py:242: RuntimeWarning: Mean of empty slice
  labels=labels)

movieId
1    4.000000
2    2.785714
3    2.500000
5    4.000000
6    3.928571
dtype: float64

Agora precisamos filtrar os filmes que o usuário já assistiu, pois eles não devem entrar nas recomendações.
Isso é feito com o filtro simples abaixo, que determina o índice dos filmes que o usuário possui rating observado.

In [48]:
moviesAlreadyWatched = userItemRatingMatrix.transpose()[user].dropna().index
moviesAlreadyWatched

Int64Index([ 111,  158,  173,  293,  596,  903, 1204, 1250, 1259, 1276, 1285,
            1358, 1639, 1687, 1747, 1876, 1909, 2001, 2019, 2072, 2174, 2502,
            2528, 2529, 2571, 2657, 2692, 2723, 2761, 2890, 3052, 3114, 3300,
            3751, 4641, 4975, 5952, 7090, 7153, 7361, 8368, 8636, 8784, 8874],
           dtype='int64', name='movieId')

In [49]:
#É calculada a média dos filmes sem rating observado.
avgRating = avgRating[~avgRating.index.isin(moviesAlreadyWatched)]

In [50]:
#Então é feito um teste com os 3 filmes com melhor recomendações, baseado na ordenação
#das médias de ratings dos vizinhos mais próximos.
N=3
topNMOVIEIDs = avgRating.sort_values(ascending=False).index[:N]

In [51]:
pd.Series(topNMOVIEIDs).apply(movieMeta)

0                                (Wilde (1997), Drama)
1    (Amazing Panda Adventure, The (1995), Adventur...
2    (Postman, The (1997), Action|Adventure|Drama|S...
Name: movieId, dtype: object

Tendo tudo isso, podemos encapsular em um método que executa todas essas etapas e retorna as recomendações, chamado de topN.

In [52]:
def topN(user,N=3):
    KnearestUsers = nearestNeighbors(user)
    NNRatings = userItemRatingMatrix[userItemRatingMatrix.index.isin(KnearestUsers)]
    avgRating = NNRatings.apply(np.nanmean).dropna()
    moviesAlreadyWatched = userItemRatingMatrix.transpose()[user].dropna().index
    avgRating = avgRating[~avgRating.index.isin(moviesAlreadyWatched)]
    ratingPredictedValue = avgRating.sort_values(ascending=False)
    #print(ratingPredictedValue.head(N))
    topNMOVIEIDs = avgRating.sort_values(ascending=False).index[:N]
    recommendation = pd.DataFrame(topNMOVIEIDs) 
    recommendation["title"] = recommendation["movieId"].apply(movieMeta)
    recommendation["Prediction"] = ratingPredictedValue.values[:N]
    return recommendation

In [53]:
faveMovies(3,10)

,userId,movieId,rating,timestamp,title
133,3,3949,5.0,1298863174,"(Sandlot, The (1993), Children|Comedy|Drama)"
113,3,1197,5.0,1298932770,"(Crash (1996), Drama|Thriller)"
101,3,318,5.0,1298862121,"(Crow, The (1994), Action|Crime|Fantasy|Thriller)"
103,3,356,5.0,1298862167,"(Mirage (1995), Action|Thriller)"
130,3,2959,5.0,1298862874,"(Bird on a Wire (1990), Action|Comedy|Romance)"
100,3,296,4.5,1298862418,"(Tom & Viv (1994), Drama)"
119,3,1721,4.5,1298923236,"(Return to Paradise (1998), Crime|Drama|Romanc..."
97,3,110,4.0,1298922049,"(Boomerang (1992), Comedy|Romance)"
129,3,2858,4.0,1298921825,"(Hidden, The (1987), Action|Horror|Sci-Fi)"
111,3,778,4.0,1298863157,"(Angel on My Shoulder (1946), Crime|Drama)"




Veja o exemplo abaixo, onde são recomendados 70 filmes, com base na média das distâncias, que funcionam como a similaridade, e faça o mesmo nas próximas células vazias para o usuário 8 e o usuário 9.

Note que temos uma coluna com o ID do filme, outra com seu título e outra com o rating predito para ele.

In [54]:
topN(6,70)

C:\Anaconda3\lib\site-packages\pandas\core\apply.py:242: RuntimeWarning: Mean of empty slice
  labels=labels)

    movieId                                              title  Prediction
0      1946                              (Wilde (1997), Drama)    5.000000
1       125  (Amazing Panda Adventure, The (1995), Adventur...    5.000000
2      1361  (Postman, The (1997), Action|Adventure|Drama|S...    5.000000
3      3260      (Invisible Circus, The (2001), Drama|Romance)    5.000000
4       994   (Terminator, The (1984), Action|Sci-Fi|Thriller)    5.000000
5      1264                  (Air Bud (1997), Children|Comedy)    5.000000
6      1260     (George of the Jungle (1997), Children|Comedy)    5.000000
7       282         (Stargate (1994), Action|Adventure|Sci-Fi)    5.000000
8       262    (Outbreak (1995), Action|Drama|Sci-Fi|Thriller)    5.000000
9      2941  (Light Years (Gandahar) (1988), Adventure|Anim...    5.000000
10     1797                     (One True Thing (1998), Drama)    5.000000
11     1251     (Face/Off (1997), Action|Crime|Drama|Thriller)    5.000000
12      215            (Gordy (1995), Children|Comedy|Fantasy)    5.000000
13     1873    (Godzilla (Gojira) (1954), Drama|Horror|Sci-Fi)    5.000000
14      194                      (Castle Freak (1995), Horror)    5.000000
15      176             (Tie That Binds, The (1995), Thriller)    5.000000
16     3060  (Space Cowboys (2000), Action|Adventure|Comedy...    5.000000
17     4033      (Death to Smoochy (2002), Comedy|Crime|Drama)    5.000000
18     2357        (Man Facing Southeast (1986), Drama|Sci-Fi)    5.000000
19     1217            (Volcano (1997), Action|Drama|Thriller)    5.000000
20     2269                (Outside Providence (1999), Comedy)    5.000000
21     2303          (Sommersby (1993), Drama|Mystery|Romance)    4.833333
22     3022                    (Rocketship X-M (1950), Sci-Fi)    4.750000
23     7099                    (Igor (2008), Animation|Comedy)    4.750000
24     1147              (Whole Wide World, The (1996), Drama)    4.750000
25      920                       (Raw Deal (1948), Film-Noir)    4.750000
26      913                    (Hustler White (1996), Romance)    4.750000
27     3467         (Closet, The (Placard, Le) (2001), Comedy)    4.750000
28     3868                          (How High (2001), Comedy)    4.750000
29      647  (Hunchback of Notre Dame, The (1996), Animatio...    4.750000
..      ...                                                ...         ...
40      926         (Bloody Child, The (1996), Drama|Thriller)    4.500000
41      928         (Bad Moon (1996), Action|Adventure|Horror)    4.500000
42     2459               (Holiday Inn (1942), Comedy|Musical)    4.500000
43      904  (Abyss, The (1989), Action|Adventure|Sci-Fi|Th...    4.500000
44      921                          (T-Men (1947), Film-Noir)    4.500000
45     1280     (187 (One Eight Seven) (1997), Drama|Thriller)    4.500000
46      898                 (Funeral, The (1996), Crime|Drama)    4.500000
47     6773          (My Winnipeg (2007), Documentary|Fantasy)    4.500000
48     1218        (Children of the Revolution (1996), Comedy)    4.500000
49      741     (Gone with the Wind (1939), Drama|Romance|War)    4.500000
50     3037  (Pokémon the Movie 2000 (2000), Animation|Chil...    4.500000
51     3629                          (Loverboy (1989), Comedy)    4.500000
52      938      (Grifters, The (1990), Crime|Drama|Film-Noir)    4.500000
53     2929   (White Christmas (1954), Comedy|Musical|Romance)    4.500000
54      940                     (Shooter, The (1997), Western)    4.500000
55     1948                         (Affliction (1997), Drama)    4.500000
56     3724              (Hunter, The (1980), Action|Thriller)    4.500000
57     3952                     (Hart's War (2002), Drama|War)    4.500000
58     1103       (Jingle All the Way (1996), Children|Comedy)    4.500000
59     3741                 (Big Trouble (2002), Comedy|Crime)    4.500000
60     1096          (Albino Alligator (1996), Crime|Thriller)    4.500000
61     1255          (Wild America (1997), Adventure|Children)    4.500000
62     1256          (Simple Wish, A (1997), Children|Fantasy)    4.500000
63     2349            (Brief Encounter (1946), Drama|Romance)    4.500000
64     2952           (Running Man, The (1987), Action|Sci-Fi)    4.500000
65     2141  (Loss of Sexual Innocence, The (1999), Drama|F...    4.500000
66     2857                    (Defying Gravity (1997), Drama)    4.500000
67     1213                        (Hollow Reed (1996), Drama)    4.500000
68     2971                (American Pimp (1999), Documentary)    4.500000
69     2917     (Puppet Master (1989), Horror|Sci-Fi|Thriller)    4.500000

[70 rows x 3 columns]

In [54]:
#Gere recomendações para o usuário 8. Um total de 80 recomendações.

In [55]:
topN(8,80)

C:\Anaconda3\lib\site-packages\pandas\core\apply.py:242: RuntimeWarning: Mean of empty slice
  labels=labels)

    movieId                                              title  Prediction
0      1947      (Outside Ozona (1998), Comedy|Drama|Thriller)    5.000000
1      3071                       (Pumpkinhead (1988), Horror)    5.000000
2      1927                   (Heartburn (1986), Comedy|Drama)    5.000000
3      3007  (Fun and Fancy Free (1947), Animation|Children...    5.000000
4      1354  (Midnight in the Garden of Good and Evil (1997...    5.000000
5      2730                 (Do the Right Thing (1989), Drama)    5.000000
6      6242  (Anderson Tapes, The (1971), Crime|Drama|Thril...    5.000000
7      2132          (It Came from Outer Space (1953), Sci-Fi)    5.000000
8      3089          (Cell, The (2000), Drama|Horror|Thriller)    5.000000
9       913                    (Hustler White (1996), Romance)    5.000000
10     1234  (Lost World: Jurassic Park, The (1997), Action...    5.000000
11     1178                         (Pest, The (1997), Comedy)    5.000000
12     2301              (Excalibur (1981), Adventure|Fantasy)    5.000000
13     8228  (Impossible, The (Imposible, Lo) (2012), Drama...    5.000000
14     1304                (How to Be a Player (1997), Comedy)    4.833333
15      215            (Gordy (1995), Children|Comedy|Fantasy)    4.750000
16      262    (Outbreak (1995), Action|Drama|Sci-Fi|Thriller)    4.750000
17     2467  (Adventures of Buckaroo Banzai Across the 8th ...    4.750000
18     3724              (Hunter, The (1980), Action|Thriller)    4.750000
19     1233            (Designated Mourner, The (1997), Drama)    4.750000
20     3246  (Horrors of Spider Island (Ein Toter Hing im N...    4.750000
21     1095  (Blood and Wine (Blood & Wine) (1996), Crime|D...    4.666667
22     6787     (Into the Wild (2007), Action|Adventure|Drama)    4.666667
23      912  (Monty Python and the Holy Grail (1975), Adven...    4.666667
24     1221  (Truth or Consequences, N.M. (1997), Action|Cr...    4.666667
25     2318  (Three Kings (1999), Action|Adventure|Comedy|D...    4.625000
26     2005              (200 Cigarettes (1999), Comedy|Drama)    4.625000
27      778         (Angel on My Shoulder (1946), Crime|Drama)    4.600000
28     6440    (Lake House, The (2006), Drama|Fantasy|Romance)    4.600000
29     5225  (Throne of Blood (Kumonosu jô) (1957), Action|...    4.500000
..      ...                                                ...         ...
50     3159                   (Two Family House (2000), Drama)    4.500000
51     3639  (Penn & Teller Get Killed (1989), Adventure|Co...    4.500000
52     3668                               (UHF (1989), Comedy)    4.500000
53     3681                (Basket Case (1982), Comedy|Horror)    4.500000
54     3107                   (Back Stage (2000), Documentary)    4.500000
55     3095                      (Shane (1953), Drama|Western)    4.500000
56      515                   (Princess Caraboo (1994), Drama)    4.500000
57      932  (Cook the Thief His Wife & Her Lover, The (198...    4.500000
58     2985                   (Paper Chase, The (1973), Drama)    4.500000
59     2973                           (Sunshine (1999), Drama)    4.500000
60      308          (Baby-Sitters Club, The (1995), Children)    4.500000
61      307                  (Muriel's Wedding (1994), Comedy)    4.500000
62      306                   (Double Happiness (1994), Drama)    4.500000
63      531       (Love and a .45 (1994), Action|Comedy|Crime)    4.500000
64     2952           (Running Man, The (1987), Action|Sci-Fi)    4.500000
65     2949  (Toxic Avenger Part III: The Last Temptation o...    4.500000
66     4016                  (Road to Zanzibar (1941), Comedy)    4.500000
67      741     (Gone with the Wind (1939), Drama|Romance|War)    4.500000
68     6944         (Iron Man (2008), Action|Adventure|Sci-Fi)    4.500000
69     1204      (Love and Other Catastrophes (1996), Romance)    4.500000
70     3469                            (Lumumba (2000), Drama)    4.500000
71     1247  (My Best Friend's Wedding (1997), Comedy|Romance)    4.500000
72     6987          (Rape of Europa, The (2006), Documentary)    4.500000
73     1263   (Spawn (1997), Action|Adventure|Sci-Fi|Thriller)    4.500000
74     7502  (Mother (Madeo) (2009), Crime|Drama|Mystery|Th...    4.500000
75     7099                    (Igor (2008), Animation|Comedy)    4.500000
76     1261     (Cop Land (1997), Action|Crime|Drama|Thriller)    4.500000
77     1255          (Wild America (1997), Adventure|Children)    4.500000
78     8961                    (Southpaw (2015), Action|Drama)    4.500000
79     7022  (Tropic Thunder (2008), Action|Adventure|Comed...    4.500000

[80 rows x 3 columns]

In [56]:
#Gere recomendações para o usuário 9. Um total de 60 recomendações.

In [56]:
topN(9,60)

C:\Anaconda3\lib\site-packages\pandas\core\apply.py:242: RuntimeWarning: Mean of empty slice
  labels=labels)

    movieId                                              title  Prediction
0        92                 (City Hall (1996), Drama|Thriller)    5.000000
1      1927                   (Heartburn (1986), Comedy|Drama)    5.000000
2      7502  (Mother (Madeo) (2009), Crime|Drama|Mystery|Th...    5.000000
3       229              (Just Cause (1995), Mystery|Thriller)    5.000000
4      1274                (Leave It to Beaver (1997), Comedy)    5.000000
5      2726    (...And Justice for All (1979), Drama|Thriller)    5.000000
6      7132           (Blackadder Back & Forth (1999), Comedy)    5.000000
7       724   (Vertigo (1958), Drama|Mystery|Romance|Thriller)    5.000000
8      1950  (Hi-Lo Country, The (1998), Drama|Romance|West...    5.000000
9      6662     (Dead Silence (2007), Horror|Mystery|Thriller)    5.000000
10      898                 (Funeral, The (1996), Crime|Drama)    5.000000
11     3307  (In the Mood For Love (Fa yeung nin wa) (2000)...    5.000000
12     1361  (Postman, The (1997), Action|Adventure|Drama|S...    5.000000
13     3462                     (Baby Boy (2001), Crime|Drama)    5.000000
14     3468  (Crimson Rivers, The (Rivières pourpres, Les) ...    5.000000
15      913                    (Hustler White (1996), Romance)    5.000000
16     2139  (Thirteenth Floor, The (1999), Drama|Sci-Fi|Th...    5.000000
17     1178                         (Pest, The (1997), Comedy)    5.000000
18     3546        (D.O.A. (1988), Film-Noir|Mystery|Thriller)    5.000000
19     2232  (Monty Python's And Now for Something Complete...    5.000000
20      926         (Bloody Child, The (1996), Drama|Thriller)    5.000000
21      366                        (Bad Girls (1994), Western)    5.000000
22      426     (Judgment Night (1993), Action|Crime|Thriller)    5.000000
23      421               (In the Army Now (1994), Comedy|War)    5.000000
24     2367  (From Russia with Love (1963), Action|Adventur...    5.000000
25     2357        (Man Facing Southeast (1986), Drama|Sci-Fi)    5.000000
26     1939  (Mighty Joe Young (1949), Adventure|Children|D...    5.000000
27      248                (Milk Money (1994), Comedy|Romance)    5.000000
28      955  (Raiders of the Lost Ark (Indiana Jones and th...    5.000000
29      230  (Kid in King Arthur's Court, A (1995), Adventu...    5.000000
30     1348            (Butcher Boy, The (1997), Comedy|Drama)    5.000000
31     3071                       (Pumpkinhead (1988), Horror)    5.000000
32      239                       (Major Payne (1995), Comedy)    5.000000
33     1029      (Highlander (1986), Action|Adventure|Fantasy)    5.000000
34     1245  (For Roseanna (Roseanna's Grave) (1997), Comed...    5.000000
35      550  (Primal Fear (1996), Crime|Drama|Mystery|Thril...    5.000000
36      581      (Coup de torchon (Clean Slate) (1981), Crime)    5.000000
37     4226         (Four Feathers, The (2002), Adventure|War)    4.916667
38     4034                      (Panic Room (2002), Thriller)    4.916667
39     3724              (Hunter, The (1980), Action|Thriller)    4.833333
40     3783  (Iron Monkey (Siu nin Wong Fei-hung ji: Tit Ma...    4.833333
41     1147              (Whole Wide World, The (1996), Drama)    4.833333
42     1204      (Love and Other Catastrophes (1996), Romance)    4.750000
43     3524  (Adventures of Baron Munchausen, The (1988), A...    4.750000
44     5992                       (Aviator, The (2004), Drama)    4.750000
45      922  (Tin Drum, The (Blechtrommel, Die) (1979), Dra...    4.750000
46      215            (Gordy (1995), Children|Comedy|Fantasy)    4.750000
47     8961                    (Southpaw (2015), Action|Drama)    4.750000
48     1217            (Volcano (1997), Action|Drama|Thriller)    4.750000
49     2349            (Brief Encounter (1946), Drama|Romance)    4.750000
50     1234  (Lost World: Jurassic Park, The (1997), Action...    4.750000
51      903            (Drop Dead Fred (1991), Comedy|Fantasy)    4.750000
52     2132          (It Came from Outer Space (1953), Sci-Fi)    4.750000
53     2300     (Deliverance (1972), Adventure|Drama|Thriller)    4.750000
54     1305             (Full Monty, The (1997), Comedy|Drama)    4.750000
55      296                          (Tom & Viv (1994), Drama)    4.700000
56     1307  (Mrs. Brown (a.k.a. Her Majesty, Mrs. Brown) (...    4.700000
57     1304                (How to Be a Player (1997), Comedy)    4.687500
58     2648  (Black Tar Heroin: The Dark End of the Street ...    4.666667
59      994   (Terminator, The (1984), Action|Sci-Fi|Thriller)    4.666667

In [57]:
topN(1,60)

C:\Anaconda3\lib\site-packages\pandas\core\apply.py:242: RuntimeWarning: Mean of empty slice
  labels=labels)

    movieId                                              title  Prediction
0       549          (Last Supper, The (1995), Drama|Thriller)    5.000000
1        92                 (City Hall (1996), Drama|Thriller)    5.000000
2      1354  (Midnight in the Garden of Good and Evil (1997...    5.000000
3      1031  (Cyrano de Bergerac (1990), Comedy|Drama|Romance)    5.000000
4      1305             (Full Monty, The (1997), Comedy|Drama)    5.000000
5       151   (Johnny Mnemonic (1995), Action|Sci-Fi|Thriller)    5.000000
6       156                 (Lord of Illusions (1995), Horror)    5.000000
7      1125                       (Jaws (1975), Action|Horror)    5.000000
8      8228  (Impossible, The (Imposible, Lo) (2012), Drama...    5.000000
9       188  (Before the Rain (Pred dozhdot) (1994), Drama|...    5.000000
10     2348                   (Hairspray (1988), Comedy|Drama)    5.000000
11      366                        (Bad Girls (1994), Western)    5.000000
12     1279            (Air Force One (1997), Action|Thriller)    5.000000
13     2111                 (Mummy's Hand, The (1940), Horror)    5.000000
14     2349            (Brief Encounter (1946), Drama|Romance)    5.000000
15     2474                    (Liberty Heights (1999), Drama)    5.000000
16     1177             (Hotel de Love (1996), Comedy|Romance)    5.000000
17      248                (Milk Money (1994), Comedy|Romance)    5.000000
18      306                   (Double Happiness (1994), Drama)    5.000000
19      299               (Vanya on 42nd Street (1994), Drama)    5.000000
20     2132          (It Came from Outer Space (1953), Sci-Fi)    5.000000
21     2137                  (Run Silent Run Deep (1958), War)    5.000000
22     1227                            (Sprung (1997), Comedy)    5.000000
23      421               (In the Army Now (1994), Comedy|War)    5.000000
24     1224  (Fifth Element, The (1997), Action|Adventure|C...    5.000000
25      501                     (Paris, France (1993), Comedy)    5.000000
26     2279  (Othello (Tragedy of Othello: The Moor of Veni...    5.000000
27      550  (Primal Fear (1996), Crime|Drama|Mystery|Thril...    5.000000
28      529              (Pretty Woman (1990), Comedy|Romance)    5.000000
29      515                   (Princess Caraboo (1994), Drama)    5.000000
30     3083  (Affair of Love, An (Liaison pornographique, U...    5.000000
31     1734  (Wrong Man, The (1956), Drama|Film-Noir|Thriller)    5.000000
32     2919  (Puppet Master III: Toulon's Revenge (1991), H...    5.000000
33       46  (Pocahontas (1995), Animation|Children|Drama|M...    5.000000
34     1959                         (Gate, The (1987), Horror)    5.000000
35      296                          (Tom & Viv (1994), Drama)    4.875000
36     6787     (Into the Wild (2007), Action|Adventure|Drama)    4.833333
37     2459               (Holiday Inn (1942), Comedy|Musical)    4.750000
38     2973                           (Sunshine (1999), Drama)    4.750000
39      215            (Gordy (1995), Children|Comedy|Fantasy)    4.750000
40     1096          (Albino Alligator (1996), Crime|Thriller)    4.750000
41     3198                 (Unbreakable (2000), Drama|Sci-Fi)    4.666667
42     3724              (Hunter, The (1980), Action|Thriller)    4.666667
43     3068  (Phantasm II (1988), Action|Fantasy|Horror|Sci...    4.666667
44     3730           (Rock Star (2001), Comedy|Drama|Musical)    4.666667
45     2739  (Death Wish 5: The Face of Death (1994), Actio...    4.666667
46       50                 (Lamerica (1994), Adventure|Drama)    4.625000
47     7361       (New York, I Love You (2009), Drama|Romance)    4.625000
48      912  (Monty Python and the Holy Grail (1975), Adven...    4.600000
49     2318  (Three Kings (1999), Action|Adventure|Comedy|D...    4.600000
50      593                             (Angus (1995), Comedy)    4.500000
51      319                               (Cobb (1994), Drama)    4.500000
52      307                  (Muriel's Wedding (1994), Comedy)    4.500000
53     1209  (Grosse Pointe Blank (1997), Comedy|Crime|Roma...    4.500000
54      308          (Baby-Sitters Club, The (1995), Children)    4.500000
55     1196                    (Van, The (1996), Comedy|Drama)    4.500000
56      728  (Gay Divorcee, The (1934), Comedy|Musical|Roma...    4.500000
57     2243                   (Problem Child 2 (1991), Comedy)    4.500000
58     4857               (Girls Will Be Girls (2003), Comedy)    4.500000
59     1175  (Beautician and the Beast, The (1997), Comedy|...    4.500000

In [58]:
topN(2,60)

C:\Anaconda3\lib\site-packages\pandas\core\apply.py:242: RuntimeWarning: Mean of empty slice
  labels=labels)

    movieId                                              title  Prediction
0      5060          (People Will Talk (1951), Comedy|Romance)    5.000000
1       923           (Ruling Class, The (1972), Comedy|Drama)    5.000000
2       951    (One Flew Over the Cuckoo's Nest (1975), Drama)    5.000000
3       968  (Third Man, The (1949), Film-Noir|Mystery|Thri...    5.000000
4       969                   (Goodfellas (1990), Crime|Drama)    5.000000
5      1060   (When Harry Met Sally... (1989), Comedy|Romance)    5.000000
6      1178                         (Pest, The (1997), Comedy)    5.000000
7      2797  (Solaris (Solyaris) (1972), Drama|Mystery|Sci-Fi)    5.000000
8      1207      (Inventing the Abbotts (1997), Drama|Romance)    5.000000
9      1211                     (Kissed (1996), Drama|Romance)    5.000000
10     1217            (Volcano (1997), Action|Drama|Thriller)    5.000000
11     1221  (Truth or Consequences, N.M. (1997), Action|Cr...    5.000000
12     1225                     (Nowhere (1997), Comedy|Drama)    5.000000
13     1228  (Love! Valour! Compassion! (1997), Drama|Romance)    5.000000
14     1234  (Lost World: Jurassic Park, The (1997), Action...    5.000000
15     1238           (Trial and Error (1997), Comedy|Romance)    5.000000
16     1243  (Batman & Robin (1997), Action|Adventure|Fanta...    5.000000
17     1254                        (Out to Sea (1997), Comedy)    5.000000
18     3101  (Ballad of Ramblin' Jack, The (2000), Document...    5.000000
19     3039        (Anatomy of a Murder (1959), Drama|Mystery)    5.000000
20     1289  (Seven Years in Tibet (1997), Adventure|Drama|...    5.000000
21     1348            (Butcher Boy, The (1997), Comedy|Drama)    5.000000
22     1721  (Return to Paradise (1998), Crime|Drama|Romanc...    5.000000
23     1955               (Varsity Blues (1999), Comedy|Drama)    5.000000
24     1957  (Garbage Pail Kids Movie, The (1987), Adventur...    5.000000
25     1961           (Fly, The (1958), Horror|Mystery|Sci-Fi)    5.000000
26     2268  (Chill Factor (1999), Action|Adventure|Comedy|...    5.000000
27      928         (Bad Moon (1996), Action|Adventure|Horror)    5.000000
28     2300     (Deliverance (1972), Adventure|Drama|Thriller)    5.000000
29      916  (Wallace & Gromit: The Wrong Trousers (1993), ...    5.000000
30      904  (Abyss, The (1989), Action|Adventure|Sci-Fi|Th...    5.000000
31      262    (Outbreak (1995), Action|Drama|Sci-Fi|Thriller)    5.000000
32      750     (Notorious (1946), Film-Noir|Romance|Thriller)    5.000000
33      913                    (Hustler White (1996), Romance)    5.000000
34      898                 (Funeral, The (1996), Crime|Drama)    5.000000
35      899  (People vs. Larry Flynt, The (1996), Comedy|Dr...    5.000000
36      501                     (Paris, France (1993), Comedy)    5.000000
37      909  (Manon of the Spring (Manon des sources) (1986...    5.000000
38     3524  (Adventures of Baron Munchausen, The (1988), A...    5.000000
39     4034                      (Panic Room (2002), Thriller)    5.000000
40      260           (Once Were Warriors (1994), Crime|Drama)    4.857143
41      778         (Angel on My Shoulder (1946), Crime|Drama)    4.833333
42      608  (Halfmoon (Paul Bowles - Halbmond) (1995), Drama)    4.833333
43     1196                    (Van, The (1996), Comedy|Drama)    4.800000
44     1213                        (Hollow Reed (1996), Drama)    4.750000
45     1198  (Daytrippers, The (1996), Comedy|Drama|Mystery...    4.750000
46      541                    (Loaded (1994), Drama|Thriller)    4.750000
47     1193               (Private Parts (1997), Comedy|Drama)    4.666667
48     1201   (Devil's Own, The (1997), Action|Drama|Thriller)    4.666667
49      111  (Chungking Express (Chung Hing sam lam) (1994)...    4.666667
50      953  (Star Wars: Episode V - The Empire Strikes Bac...    4.666667
51      858                    (Swingers (1996), Comedy|Drama)    4.666667
52     1208       (Anaconda (1997), Action|Adventure|Thriller)    4.666667
53     1041           (Ben-Hur (1959), Action|Adventure|Drama)    4.666667
54      162                              (Nadja (1994), Drama)    4.500000
55      175  (Umbrellas of Cherbourg, The (Parapluies de Ch...    4.500000
56     1263   (Spawn (1997), Action|Adventure|Sci-Fi|Thriller)    4.500000
57     1276                (Money Talks (1997), Action|Comedy)    4.500000
58     1260     (George of the Jungle (1997), Children|Comedy)    4.500000
59     1286                (Edge, The (1997), Adventure|Drama)    4.500000